{% extends 'base.html.twig' %}

{% block content %}
<div class="row">
    <h2 class="page-title">Welcome to the bare version of the site.</h2>
    <p>Welcome to the bare version of the site.</p>
    <p>The main idea of this version is to create a platform for the web site with basic needs, such as:</p>
    <ul>
        <li>Basic symfony 4.3</li>
        <li>Users</li>
        <li>Authentication</li>
        <li>Registration</li>
        <li>Categories</li>
        <li>Security</li>
        <li>Most common JS and CSS libraries</li>
    </ul>
</div>
{% endblock %}
